
html {
  font-family: sans-serif;
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

body {
  display: none;
  margin: 0;
  color: #4d4d4d;
  font-family: "Hiragino Kaku Gothic ProN";
  background-color: #FFE1DC;
}

.sans-pro {
  font-family: 'Source Sans Pro', sans-serif;
  font-weight: 400;
}

.pcUser {
  width: 1000px;
  margin: 0px auto;
  display: none;
}

.spUser {
  margin: 0px auto;
  display: none;
}

/*
===============
 for PC page 1
===============
*/

.pcUser .howto_contents {
  text-align: center;
  background-image: url("../img/bg_pc.png");
  background-position-y: -6px;
}

.pcUser #howto_title_1 {
  margin-top: 0px;
  padding-top: 50px;
  font-size: 24px;
  font-weight: bold;
  letter-spacing: 1.5px;
  color: #727171;
}

.pcUser #howto_title_2 {
  margin-top: 58px;
  margin-bottom: 26px;
  font-size: 24px;
  font-weight: bold;
  color: #727171;
}

.pcUser #howto_title_3 {
  margin-top: 52px;
  font-size: 24px;
  font-weight: bold;
  color: #727171;
}

.pcUser #howto_title_4 {
  margin-top: 68px;
  margin-bottom: 40px;
  font-size: 24px;
  font-weight: bold;
  color: #727171;
}

.pcUser .howto_contents .manual_box {
  background: #fff;
  width: 665px;
  display: block;
  margin: 0 auto;
  border-radius: 44px;
  opacity: 0.8;
}

.pcUser .manual_box {
  background-color: #fff;
  width: 665px;
  display: block;
  margin: 0 auto;
  border-radius: 44px;
}

.pcUser #manual_title_1 {
  margin-top: 45px;
  margin-left: -23.7%;
}

.pcUser #manual_title_2 {
  margin-top: 50px;
}

.pcUser #manual_title_3 {
  margin-top: 56px;
  margin-left: -24%;
  margin-right: 10%;
}

.pcUser #hawto_arrow_1 {
  display: block;
  margin: 53px auto 35px;
}

.pcUser #hawto_arrow_2 {
  display: block;
  margin: 64px auto 44px;
}

.pcUser .app_box {
  margin-top: 33px;
}

.pcUser .android_btn {
  /*margin-left: 30px;*/
}

.pcUser .ios_btn {
  margin-left: 30px;
}

.pcUser .ios_btn_s {
  margin-left: 20px;
}

.pcUser #manual_image_1 {
  margin-top: 40px;
  margin-bottom: 48px;
}

.pcUser #manual_image_2 {
  margin-top: 30px;
  margin-bottom: 24px;
  margin-left: 6px;
}

.pcUser #manual_image_3 {
  margin-top: -3px;
  margin-bottom: 38px;
  margin-left: 15px;
}

.pcUser #campaign_info {
  font-size: 10px;
  font-size: 10px;
  text-align: left;
  width: 674px;
  margin-left: 22%;
  margin-top: 29px;
  letter-spacing: -0.5px;
  line-height: 17px;
}

.pcUser .access_box {
  width: 685px;
  margin: 0 auto;
}

.pcUser .access_box div {
  display: inline-block;
  float: left;
}

.pcUser .access_box p {
  font-size: 12px;
  padding-left: 24px;
  letter-spacing: -1px;
  line-height: 20px;
  text-align: left;
}

.pcUser #copyright {
  font-size: 10px;
}

/*
===============
 for PC end
===============
*/



/*
===============
 for SP page 1
===============
*/

.spUser header img {
  width: 100%;
}

.spUser .howto_contents {
  text-align: center;
  background-image: url("../img/sp/bg.png");
  background-size: contain;
  background-position: 0% 12%;
  background-repeat: no-repeat;
}

.spUser #howto_title_1 {
  margin-top: -26px;
  font-size: 11px;
  font-weight: bold;
  letter-spacing: 0.5px;
  color: #727171;
}

.spUser #howto_title_2 {
  margin-top: 22px;
  margin-bottom: 12px;
  font-size: 11px;
  font-weight: bold;
  color: #727171;
}

.spUser #howto_title_3 {
  margin-top: 20px;
  font-size: 10.6px;
  font-weight: bold;
  color: #727171;
}

.spUser #howto_title_4 {
  margin-top: 18px;
  margin-bottom: 18px;
  font-size: 11px;
  font-weight: bold;
  color: #727171;
}

.spUser .howto_contents .manual_box {
  background: #fff;
  width: 80%;
  display: block;
  margin: 0 auto;
  border-radius: 20px;
  opacity: 0.8;
}

.spUser .app_box {
  margin-top: 12px;
}

.spUser .android_btn {
  width: 38%;
  /*margin-left: 30px;*/
}

.spUser .ios_btn {
  width: 38%;
  margin-left: 3%;
}

.spUser .android_btn_s {
  width: 21.5%;
}

.spUser .ios_btn_s {
  width: 21.5%;
  margin-left: 1%;
}

.spUser #manual_title_1 {
  margin-left: -24%;
  width: 56%;
  margin-top: 20px;
}

.spUser #manual_title_2 {
  margin-top: 24px;
  width: 80%;
}

.spUser #manual_title_3 {
  padding-top: 27px;
  padding-left: 10%;
  display: block;
  width: 46%;
}

.spUser #manual_image_1 {
  margin-top: 13px;
  margin-bottom: 18px;
  width: 85%;
  margin-left: 2%;
}

.spUser #manual_image_2 {
  margin-top: 11px;
  margin-bottom: 8px;
  margin-left: 2%;
  width: 69%;
}

.spUser #manual_image_3 {
  width: 80%;
  margin: 16px auto 21px;
}


.spUser #hawto_arrow_1 {
  display: block;
  margin: 24px auto 16px;
  width: 12%;
}

.spUser #hawto_arrow_2 {
  display: block;
  margin: 28px auto 20px;
  width: 12%;
}

.spUser #campaign_info {
  font-size: 10px;
  text-align: left;
  margin-left: 9%;
  margin-top: 17px;
  /*letter-spacing: -0.5px;*/
  line-height: 12px;
  /*line-height: 8px;*/
  width: 84%;
}

.spUser .access_box {
  margin: 0 auto;
}

.spUser .access_box div {
  display: inline-block;
  float: left;
}

.spUser .access_box p {
  font-size: 10px;
  padding-left: 12%;
  letter-spacing: -1px;
  line-height: 12px;
  text-align: left;
}

.spUser #copyright {
  font-size: 10px;
}

/*
===============
page1 mg1 code hear
===============
*/
.pcUser .app_box_mg {
    margin-top: 32px;
}

.pcUser #howto_title_1_mg1 {
  margin-top: 0px;
  padding-top: 44px;
  margin-bottom: 26px;
  font-size: 24px;
  font-weight: bold;
  letter-spacing: 1.5px;
  color: #727171;
}

.pcUser #manual_title_3{
  /*margin-left: 0%;*/
}
.pcUser #manual_title_4{
  margin-left: 0%;
  margin-top: 56px;
  /*margin-left: -24%;*/
  margin-right: 10%;
}
.small_text {
    padding-top: 41px;
    margin-left: 10px;
}
.pcUser #manual_image_small {
    margin-top: -2px;
    margin-bottom: 38px;
    margin-left: 7px;
    text-align: left;
}
.pcUser #manual_image_direction {
    margin-top: 1px;
    margin-bottom: 38px;
    margin-left: 0px;
    padding-bottom: 21px;
}
#app_title{
  margin-top: 61px;
  font-size: 24px;
    font-weight: bold;

}
.pcUser #manual_image_2 {
  margin-top: 30px;
  margin-bottom: 24px;
  margin-left: 6px;
}
.pcUser #howto_title_app {
    margin-top: 81px;
    margin-bottom: 26px;
    font-size: 24px;
    font-weight: bold;
    color: #727171;
}
.pcUser #manual_image_mg {
    margin-top: 29px;
    margin-bottom: 24px;
    margin-left: 116px;
}
.pcUser .howto_contents_mg {
    text-align: center;
    background-image: url(../img/bg_pc.png);
    background-position-y: 4px;
    background-repeat: no-repeat;
}
.pcUser .manual_box_mg {
    background-color: #fff;
    width: 665px;
    display: block;
    margin: 0 auto;
    border-radius: 24px;
}
.pcUser .manual_box2 {
    background-color: #fff;
    width: 665px;
    display: block;
    margin: 0 auto;
    border-radius: 28px;
}
.pcUser #manual_image_3_mg {
    margin-top: 52px;
    margin-bottom: 21px;
    margin-left: 38px;
}
.pcUser .manual_box {
    background-color: #fff;
    width: 665px;
    display: block;
    margin: 0 auto;
    border-radius: 40px;
}
.invlaps {
    padding-top: 36px;
    padding-left: 2px;
}
.direction_image {
    margin-left: -29px;
    margin-top: -4px;
}
.pcUser #howto_title_4_mg{
  margin-top: 48px;
  margin-bottom: 17px;
  font-size: 24px;
  font-weight: bold;
  color: #727171;
}
.pcUser #manual_title_1_mg {
    margin-top: 44px;
    margin-left: -23.7%;
}


.spUser #howto_title_1_mg1 {
  margin-top: -39px;
  margin-bottom: 17px;
  font-size: 11px;
  font-weight: bold;
  letter-spacing: 0.5px;
  color: #727171;
}


/*
========================
 pt file PG PC code hear
=======================
*/

.pcUser #howto_title_1_pt {
  margin-top: 0px;
  padding-top: 42px;
  font-size: 24px;
  font-weight: bold;
  letter-spacing: 1.5px;
  color: #727171;
}

.pcUser #manual_image_2_pt {
    margin-top: 27px;
    margin-bottom: 24px;
    margin-left: 115px;
}
.pcUser #manual_image_3_pt {
  margin-top: 49px;
  margin-bottom: 21px;
  margin-left: 40px;
}
.invlaps_pt {
    padding-top: 36px;
    padding-left: 6px;
}
.pcUser #howto_title_4_pt {
    margin-top: 44px;
    margin-bottom: 18px;
    font-size: 24px;
    font-weight: bold;
    color: #727171;
}
.app_box_s {
    padding-top: 2px;
    padding-left: 0px;
}

/*
========================
 pt file PG SP code hear
=======================
*/

.spUser #howto_title_1_pt {
  margin-top: -40px;
  margin-bottom: 18px;
  font-size: 11px;
  font-weight: bold;
  letter-spacing: 0.5px;
  color: #727171;
}

.spUser #manual_image_2_pt {
  margin-top: 10px;
  margin-bottom: 8px;
  margin-left: 17%;
  width: 75%;
}

.spUser #manual_image_3_pt {
  width: 87%;
  margin: 23px 9.4% 5px
}

.spUser #manual_image_4_pt {
  width: 89%;
  margin: 25px 7% 15px 6%;
}

#map {
    width: 640px;
    height: 328px;
    margin-left: auto;
    margin-right: auto;
}

#map_sp {
    width: 74%;
    height: 148px;
    margin-left: auto;
    margin-right: auto;
}
